/* VARIABLE */

:root {
    --bs-my-green: #7ABF50;
    --bs-my-blue: #0C659D;
    --bs-my-gray: #667085;
}

@font-face {
    font-family: InterVReguler;
    src: url(../fonts/Inter-Regular.woff);
}
  
body {
    font-family: InterVReguler;
}

/* color background */
.bg-gray {
    background-color: var(--bs-gray-300);
}

.bg-blue {
    background-color: var(--bs-my-blue);
}

.bg-green {
    background-color: var(--bs-my-green);
}


.my-text-blue {
    color: var(--bs-my-blue);
}
.my-text-green {
    color: var(--bs-my-green);
}
.my-text-gray {
    color: var(--bs-my-gray);
}

.height-100 {
    height: 100vh;
}

.height-75 {
    min-height: 100vh;
}

.capital {
    text-transform: uppercase !important;
}

li {
    margin-bottom: 1em;
}

li.nav-item {
    margin: 0 4px;
    font-size: 1.1rem;
}

.banner-bisnis {
    color: white;
}


h1, h2, h3, h4, h5, h6 {
    color: var(--bs-my-blue);
}

a, p, li, span, .nav-link {
    color: var(--bs-my-gray);
}

.nav-link:hover {
    color: var(--bs-my-green);
}

p {
    line-height: 1.5rem;
}

/* GLOBAL ............................. */
html {
    font-size: 14px;
}

.text-15 {
    font-size: 1.5rem;
}

.text-14 {
    font-size: 1.4rem;
}

.text-13 {
    font-size: 1.3rem;
}

.text-12 {
    font-size: 1.2rem;
}

.text-11 {
    font-size: 1.1rem;
}

.text-9 {
    font-size: 0.9rem;
}

.text-8 {
    font-size: 0.8rem;
}

.py-6 {
    padding: 6em 0;
}

.py-7 {
    padding: 7em 0;
}

.py-8 {
    padding: 8em 0;
}

.py-9 {
    padding: 9em 0;
}

.py-10 {
    padding: 10em 0;
}


.py-7 {
    padding: 10em 0;
}

.px-6 {
    padding: 0 6em;
}

.title-content {
    font-size: 1.2rem;
}

body {
    height: 100%;
}

.about-us-text p {
    line-height: 1.5em;
}

body.portal {
    padding-top: 65px;
}
span.tag {
    font-size: 0.8rem;
    padding: 2px 8px;
    background-color: var(--bs-gray-200);
}

p, label, .form-control {
    color: var(--bs-my-gray);
}


a {
    text-decoration: none;
    color: var(--bs-my-gray);
    font-size: 1rem;
}

.breadcrumb-item {
    color: var(--bs-my-gray);
}

.breadcrumb-item.active {
    color: var(--bs-green);
}

/* overrride conteiner */
@media (min-width: 1400px) {
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1380px;
}
}

/* override navbar */
@media (min-width: 768px) {
    .navbar-home {
        background-color: rgba(255, 255, 255, 0) !important;
    }
    
    .navbar-expand-md .navbar-nav {
        flex-direction: row;
        flex: 1;
        justify-content: center;
    }

    .navbar-home .nav-link {
        color: white !important;
    }

    .navbar-home .form-search {
        border-color: white !important;
        color: white !important;
    }
    .navbar-home .form-language {
        border-color: white !important;
        color: white !important;
    }

    .navbar-home.scrolled {
        background-color: #fff !important;
        transition: background-color 200ms linear;
    }

    .navbar-home.scrolled .nav-link {
        color: var(--bs-my-gray) !important;
    }

    .navbar-home.scrolled .nav-link {
        color: var(--bs-my-gray) !important;
        cursor: pointer;
    }


    .navbar-home .lang {
        color: white;
        cursor: pointer;
    }

    .navbar-home ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1; /* Firefox */
    }

    .navbar-home.scrolled ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: var(--bs-my-gray) !important;
        opacity: 1; /* Firefox */
    }


    .navbar-home.scrolled .lang {
        color: var(--bs-my-gray) !important;
        cursor: pointer;
    }

    .navbar-home.scrolled .nav-link.active {
        color: var(--bs-green) !important;
    }

    .navbar-home.scrolled .nav-link:hover {
        color: var(--bs-green) !important;
    }

    .navbar-home.scrolled .nav-link.white {
        color: var(--bs-white) !important;
    }

    .navbar-home.scrolled .form-search {
        border-color: black !important;
        color: black !important;
    }
    .navbar-home.scrolled .form-language {
        border-color: black !important;
        color: black !important;
    }
}

/* Banner */
@media (max-width: 767.5px) {
    .carousel-caption {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 100%;
        top: 30%;
        bottom: 0;
        right: 0;
    }

    .carousel-caption h3 {
        color: #fff;
        text-shadow: 2px 2px 8px var(--bs-my-gray);
    }
    .carousel-caption p {
        color: #fff;
        text-shadow: 2px 2px 8px var(--bs-my-gray);
    }

    .control-wrapper {
        display: none;
    }

    .banner-call-center {
        display: none;
    }

} 

/* override Slider HOme */
@media (min-width: 768px) {
    .carousel-caption {
        position: absolute;
        bottom: 20%;
        left: 5%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: left;
    }

    .carousel-caption h3 {
        color: #fff;
        line-height: 3rem;
        font-size: 2.5rem;
        text-shadow: 2px 2px 8px var(--bs-my-gray);
    }

    .carousel-caption p {
        margin-top: 2rem;
        color: #fff;
        font-size: 1.2rem;
        text-shadow: 2px 2px 8px var(--bs-my-gray);
    }

    .control-wrapper {
        position: absolute;
        bottom: 10%;
        left: 5%;
        display: flex;
        flex-direction: row;
        width: 20%;
        justify-content: space-between;
    }

    .control-wrapper h4 {
        color: white;
    }

    .control-next, 
    .control-prev {
        z-index: 1;
        color: #fff;
        background: 0 0;
        border: 0;
        transition: opacity .15s ease;
        text-shadow: 2px 2px 8px var(--bs-my-gray);
    }

    .banner-call-center {
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 5rem;
        bottom: 5rem;
        width: 220px;
        justify-content: space-between;
    }

    .banner-call-center a img { 
        height: 45px;
    }
}


/* CONTAINER FLEX */ 
.container-full {
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 80vh;
    padding: 4em 5%;
}

/* CONTAINER HOME MAP */ 
.container-map {
    position: relative;
}

.container-map .text-wrapper {
    position: absolute;
    width: 40%;
    left: 5%;
    top: 10%;
}

.container-map .text-wrapper-sm {
    width: 70% !important;
}

.container-map .number-wrapper {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}

/* bisnis kami timeline */
.timeline-item {
    min-height: 100px;
    position: relative;
    padding-top: 10px;
}

.timeline-item .elipse {
    position: absolute;
    top: -15px;
    left: 90px;
}

.timeline-item .polygon {
    position: absolute;
    left: 90px;
    top: 10px;
}

.year-wrapper {
    background-color:var(--bs-green);
    margin-top: 15px;
    width: 100px;
    margin-left: 50px;
    text-align: center;
    padding: 7px;
}

.splide-history .splide__arrow--prev {
    top: 10px !important;
    left: -10px !important;
}

.splide-history .splide__arrow--next {
    top: 10px !important;
    right: 10px !important;
}



/* gallery detail css */
  .gallery-container a {
    width: 400px;
    margin: 1em;
  }
  
  .gallery-container a img {
    max-width: 100%;
    height: auto;
  }

  .lg-backdrop {
    background-color: #000000ab;
    }
/* gallery detail css */


/* FOOTER */
.footer-link a {
    display: block;
    margin-bottom: 10px;
}

.email-input {
    width: 90%;
    border: none;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-top: 1em;
}

/* override splie */
@media (max-width: 767px) {
    .news-wrapper {
        position: absolute; 
        top: -150px; 
        left: 0;
        right: 0;
        width: 90%;
    }
}

/* news page */
@media (min-width: 768px) {
    .news-wrapper {
        position: absolute; 
        top: -150px; 
        left: 100px;
        width: 60%;
    }
}
