{% extends 'frontend/base.html' %}
{% load humanize %}
{% load static %}
{% load i18n %}

{% block extra_header %} 
  <link href="{% static 'splide/css/splide.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
{% get_current_language as LG %}
    <main>
       <!-- BISNIS KAMI -->
    <div style="padding-top: 60px;">.</div>
    <!-- breadcrumb -->
    <div class="container-fluid bg-light py-3 px-5">
      <nav aria-label="breadcrumb bg-light">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item m-0"><a href="/">{{ common_settings.beranda.val }}</a></li>
          <li class="breadcrumb-item m-0 active" aria-current="page">{{ common_settings.tentang_kami.val }}</li>
        </ol>
      </nav>
    </div>


      <!--  banner -->
      <div class="container-fluid py-md-5 bg-blue">
        <div class="container-md py-5 px-sm-5 px-md-0">
        <div class="row banner-bisnis">
          <div
            class="col-md-7 col-sm-12 d-flex flex-column justify-content-center text-white pe-5"
            style="line-height: 2em"
          >
            <h1 class="text-white mb-4" >{{ settings.about_us_title.val }}</h1>
            <h4 class="text-white mb-4" style="line-height: 1.2em">{{ settings.about_us_short_description.val|safe }}</h4>
            <div class="about-us-text">{{ settings.about_us_long_description.val|safe }} </div>
          </div>
          <div class="col-md-5 col-sm-12 px-lg-5">
            <img src="{{ settings.all_banner_image.val.url }}" class="w-100" />
          </div>
        </div>
      </div>
      </div>

      <!-- jejak langkah -->
      <div class="container-fluied bg-light py-5">
        <div class="container-md py-5">
        <h2 class="text-center mb-3">{{ settings.jejak_langkah_title.val }}</h2>
        <p class="text-center mb-5">{{ settings.jejak_langkah_sub_title.val }}</p>
        <section class="splide splide-history" id="timeline">
          <div class="splide__track">
            <img src="{% static 'images/splideline.png' %}" class="w-100" />
            <ul class="splide__list">
              {% for hs in history %}
              <li class="splide__slide">
                <div class="timeline-item">
                  <img src="{% static 'images/elipse23.png' %}" class="elipse" />
                  <img src="{% static 'images/polygon.png' %}" class="polygon" />
                  <div class="rounded year-wrapper">
                    <span class="text-white">{{ hs.year }}</span>
                  </div>
                  <div class="px-5 mt-4">
                    {%if LG == 'id'%}{{ hs.id_long_desc|safe }} {%else%} {{ hs.en_long_desc|safe }} {%endif%}
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </section>
        </div>
      </div>

      <!-- visi misi -->
      <div class="container-fluid py-5" id="visimisi">
        
        <div class="container-md py-5">
          <h2 class="text-center mb-3">{{ settings.visi_misi_title.val }}</h2>
          <p class="text-center mb-5">{{ settings.visi_misi_sub_title.val }}</p>
          <div class="row banner-bisnis">
            <div
              class="col-md-7 d-flex flex-column justify-content-center text-white pe-5"
            >
              <h5 >{{ settings.visi_title.val }}</h5>
              <div class="visitext">
                <p > {{ settings.visi_text.val }} </p>
              </div>

              <h5>{{ settings.misi_title.val }}</h5>
              <div>
                <div class="misitext">
                  <img src="{% static 'images/misi1.png' %}" class="polygon" />
                  <p> {{ settings.misi_1_text.val |safe }}</p>
                </div>
                <div class="misitext">
                  <img src="{% static 'images/misi2.png' %}" class="polygon" />
                  <p> {{ settings.misi_2_text.val |safe}}</p>
                </div>
                <div class="misitext">
                  <img src="{% static 'images/misi3.png' %}" class="polygon" />
                  <p> {{ settings.misi_3_text.val |safe}}</p>
                </div>
                <div class="misitext">
                  <img src="{% static 'images/misi4.png' %}" class="polygon" />
                  <p> {{ settings.misi_4_text.val |safe}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-5 mt-5">
              <img src="{{ settings.all_visi_misi_image.val.url }}" class="w-100" />
            </div>
          </div>
        </div>
    </div>


      <!-- nilai perusahaan -->
      <div class="container-fluid py-5 bg-blue">
        <div class="container-md py-5">
        <h2 class="text-center mb-3 text-white">{{ settings.tata_nilai_title.val }}</h2>
        <p class="text-center mb-5 text-white">{{ settings.tata_nilai_sub_title.val }}</p>
        <div class="text-center mb-5">
          <span class="m-auto text-white border p-2 px-5" style="font-size: 1.5rem;">
            PRIMA
          </span>
        </div>
        
        <div class="banner-bisnis mt-5 d-none d-md-flex justify-content-between">
          {% for tt in tata_nilai %}
          <div
            class="d-flex flex-column justify-content-center align-items-center mt-5 mx-3"
          >
            <img src="{{ tt.img.url }}" class="mb-4" style="width: 50px;" />
            <p class="mb-3 text-white text-14">
              {%if LG == 'id'%}{{ tt.id_title | safe }} {%else%} {{ tt.en_title | safe }} {%endif%}
            </p>
            <p class="text-white text-center">
              {%if LG == 'id'%} {{ tt.id_description | safe }} {%else%} {{ tt.en_description | safe }} {%endif%}
            </p>
          </div>
          {% endfor %}
        </div>

        <div class="banner-bisnis mt-5 d-block d-md-none">
          {% for tt in tata_nilai %}
          <div
            class="d-flex flex-column justify-content-center align-items-center mt-5 mx-3"
          >
            <img src="{{ tt.img.url }}" class="mb-4" style="width: 50px;" />
            <p class="mb-3 text-white text-14">
              {%if LG == 'id'%}{{ tt.id_title | safe }} {%else%} {{ tt.id_title | safe }} {%endif%}
            </p>
            <p class="text-white text-center">
              {%if LG == 'id'%} {{ tt.id_description | safe }} {%else%} {{ tt.en_description | safe }} {%endif%}
            </p>
          </div>
          {% endfor %}
        </div>

      </div>
      </div>

      {% comment %} AHLAK {% endcomment %}
      <div class="container-fluid d-flex text-center  align-items-center flex-column " id="ahlak"
        style="
          background-image: url('{{ settings.all_ahlak_bg.val.url }}');
          background-repeat: no-repeat;
          background-size: cover;
          min-height: 32em;
          background-position: center;
        ">
        <img src="{% static 'images/ahlak.png' %}" style="margin-top: 9em;" />
        <p class="text-white mt-5 text-11" style="line-height: 2rem">
          {{settings.ahlak_text.val|safe}}
        </p>
      </div>

      <!-- Penghargaan -->
      <div class="container-fluid " id="award" style="padding-top: 60px">
        <div class="container-md border-bottom py-5 ">
          <h2 class="text-center mb-3 ">{{ settings.award_title.val }}</h2>
          <p class="text-center mb-5 ">{{ settings.award_sub_title.val }}</p>
          <section class="splide" id="awards">
            <div class="splide__track">
              <ul class="splide__list">
                {% for aw in awards %}
                <li class="splide__slide">
                  <div class="timeline-item text-center">
                    <img src="{{ aw.img.url }}" class="w-75"  />
                    <div class="text-center mt-4 px-5">
                      <p class="text-center fw-bold mb-2">
                        {%if LG == 'id'%} {{ aw.id_description | safe }} {%else%} {{ aw.en_description | safe }} {%endif%}
                      </p>
                      <p class="text-center my-text-green">{{ aw.month_year|safe }}</p>
                    </div>
                  </div>
                </li>
                {% endfor %}

              </ul>
            </div>
          </section>
          </div>
      </div>

      <!-- certificate -->
      <div class="container-fluid py-5 ">
       
        <div class="container-md py-5">
          <h2 class="text-center mb-3 ">{{ settings.certificate_title.val }}</h2>
          <p class="text-center mb-5 ">{{ settings.certificate_sub_title.val }}</p>
          <section class="splide" id="cert">
            <div class="splide__track">
              <ul class="splide__list">
                {% for cr in certificates %}
                <li class="splide__slide">
                  <div class="timeline-item text-center">
                    <img src="{{cr.img.url}}" class="w-75"  />
                    <div class="text-center mt-4 px-5">
                      {%if LG == 'id'%} {{ cr.id_description | safe }} {%else%} {{ cr.en_description | safe }} {%endif%}
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </section>
          </div>
      </div>


      <!-- yearly -->
      <div class="container-fluid py-5 ">
        <div class="container-md py-5">
          <h2 class="mb-3 ">{{ settings.yearly_report_title.val }}</h2>
          <p class="mb-5 ">{{ settings.yearly_report_sub_title.val }}</p>
          <section class="splide" id="yeearliReport">
            <div class="splide__track">
              <ul class="splide__list">
                {% for yr in yearly_reports %}
                <li class="splide__slide">
                  <div class="timeline-item text-center">
                    <img src="{{ yr.img.url }}" class="w-75"  />
                    <div class="text-center mt-4 px-5">
                      <p class="text-center fw-bold mb-2 my-text-blue text-11">
                        {%if LG == 'id'%} {{ yr.id_title | safe }} {%else%} {{ yr.en_title | safe }} {%endif%}
                      </p>
                      <a href="{{ yr.file.url }}" class="btn btn-success btn-sm p-2 mt-2" target="_blank">
                        {{ common_settings.lihat_laporan.val }}
                      </a>
                    </div>
                  </div>
                </li>
                {% endfor %}

              </ul>
            </div>
          </section>
          </div>
      </div>
    </main>
{% endblock content %}  
  
{% block extra_js %} 
  <script src="{% static 'splide/js/splide.min.js' %}"></script>
  <script src="{% static 'splide/js/splide-renderer.min.js' %}"></script>
  <script src="{% static 'js/myjs.js' %}"></script>
  <script src="{% static 'js/mysplide.js' %}"></script>
{% endblock %}
