{% extends 'frontend/base.html' %}
{% load humanize %}
{% load static %}
{% load i18n %}


{% block extra_header %} 
  
{% endblock %}

{% block content %}
{% get_current_language as LG %}
  <main>
  <!-- BISNIS KAMI -->
  <div style="padding-top: 60px;">.</div>
  <!-- breadcrumb -->
  <div class="container-fluid bg-light py-3 px-5">
    <nav aria-label="breadcrumb bg-light">
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item m-0"><a href="/">{{ common_settings.beranda.val }}</a></li>
        <li class="breadcrumb-item m-0"><a href="#">{{ common_settings.media_informasi.val }}</a></li>
        <li class="breadcrumb-item m-0 active">{{ common_settings.artikel.val }}</li>
      </ol>
    </nav>
  </div>

    <div class="container-md pt-5  text-center" >
        <h1>
          {%if LG == 'id'%} {{news.id_title|safe}} {%else%} {{news.en_title|safe}} {%endif%}
        </h1>
        <p>
          {%if LG == 'id'%} {{news.id_short_desc|safe}} {%else%} {{news.en_short_desc|safe}} {%endif%}
        </p>
        <div class="d-flex mb-5 justify-content-center align-items-center ">
          {% for tg in news.categories.all %} 
            <span class="tag border-secondary rounded mt-2 me-3 p-1 px-2" style="
              color: {{tg.color}};
              background-color: {{tg.bg_color}};
            ">
              {%if LG == 'id'%} {{ tg.id_title|upper }} {%else%} {{ tg.en_title|upper }} {%endif%}
            </span>
          {% endfor %}
          <span class="mt-2 p-0"> {{news.date|safe}}</span>
        </div>
        
    </div>
        
    <div class="container-md mb-5">
        <img src="{{news.img.url}}" class="w-100 " />
        <div class="container mt-lg-5  pb-5" >
          {%if LG == 'id'%} {{news.id_long_desc|safe}} {%else%} {{news.en_long_desc|safe}} {%endif%}
        </div>
        <div class="container px-lg-5 d-flex align-items-center">
          <p class="me-3 mb-0">{{common_settings.bagikan.val}}: </p>
          <a class="me-1"href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
            <img src="{% static 'images/facebook.png' %}" class="img_share"/>
          </a>
          <a class="me-1" href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}" target="_blank">
          <img src="{% static 'images/twitter.png' %}" class="img_share"/>
          </a>
        </div>
    </div>
  </div>
</main> 
{% endblock content %}
