{% load static %} 
{% load humanize %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Yusmin" />
    <meta name="generator" content="Hugo 0.88.1" />
    <title>{{title}}</title>
    {% include "./meta.html" %}
    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.1/examples/navbar-fixed/"
    />
    <link href="{% static 'css/bootstrap.min.css'  %}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="{% static 'css/mystyle.css'  %}" rel="stylesheet" />
    <script type="text/javascript">
      window.CSRF_TOKEN = "{{ csrf_token }}";
    </script>
    {% comment %}
    <link rel="shortcut icon" href="{{settings.favicon.img_value}}" />
    {% endcomment %} 
    {% block extra_header %} {% endblock %}
  </head>

  <body>
    {% include "./navbar.html" %} 
    
    {% block content %} 
    {% endblock content %} 


    {% if not hide_footer %}
      {% include "./footer.html" %}
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'splide/js/splide.min.js' %}"></script>
    <script src="{% static 'js/myjs.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% block extra_js %} {% endblock %}
  </body>
</html>
