{% extends 'frontend/base.html' %}
{% load humanize %}
{% load static %}
{% load i18n %}
{% load templatehelpers %}

{% block extra_header %} 
{% endblock %}

{% block content %}
{% get_current_language as LG %}
    <main>
      <!-- BISNIS KAMI -->
      <div style="padding-top: 60px;">.</div>
      <div class="container-fluid bg-light py-3 px-5">
        <nav aria-label="breadcrumb bg-light">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item m-0"><a href="/">{{ common_settings.beranda.val }}</a></li>
            <li class="breadcrumb-item m-0"><a href="#">{{ common_settings.media_informasi.val }}</a></li>
            <li class="breadcrumb-item m-0 active" aria-current="page">{{ common_settings.karir.val }}</li>
          </ol>
        </nav>
      </div>

      <div
        class="container-fluid d-flex text-center justify-content-center align-items-center flex-column mb-4"
        style="
          background-image: url('{{ settings.all_banner_image.val.url }}');
          background-repeat: no-repeat;
          background-size: cover;
          height: 25em;
          background-position: center;
        "
      >
        <div class="container mt-5 mb-5">
          <h2 class="text-white" style="line-height: 1.5em">
            {{ settings.banner_text.val | safe }}
          </h2>
          {% comment %} <div class="d-flex flex-row w-100 mt-5 mb-5" style="gap: 10px">
            <select class="form-select" aria-label="Default select example">
              <option selected>Semua Provinsi</option>
              <option value="1">One</option>
            </select>
            <select class="form-select" aria-label="Default select example">
              <option selected>Semua Kota</option>
              <option value="1">One</option>
            </select>
            <select class="form-select" aria-label="Default select example">
              <option selected>Semua Kategori</option>
              <option value="1">One</option>
            </select>
            <select class="form-select" aria-label="Default select example">
              <option selected>Semua Tipe</option>
              <option value="1">One</option>
            </select>
          </div> {% endcomment %}
          {% comment %} <p class="text-white text-center mt-4">{{ settings.banner_sub_text.val}}</p> {% endcomment %}
        </div>
      </div>
      {% if number_of_career > 0 %}

        {% for category in career_categories %}
        <div class="container-md pt-5 mb-5">
          <div class="d-flex justify-content-between">
            <h5 class="mt-2 mb-3">
              {%if LG == 'id'%} {{ category.id_title }} {%else%} {{ category.en_title }} {%endif%}
            </h5>
            <p class="p-0 m-0">{{ category.carier_set.count }} {{settings.lowongan.val}}</p>
          </div>
          {% for cr in category.carier_set.all|is_active %}
          <a href="{% url 'frontend:career_detail' cr.slug %}" />
            <div class="p-3 border border-radius mb-3">
              <h6>
                {%if LG == 'id'%} {{ cr.id_title }} {%else%} {{ cr.en_title }} {%endif%}
              </h6>
              <div class="d-flex">
                <div class="w-25">
                  <p class="m-0 p-0">
                    {%if LG == 'id'%} {{ category.id_title }} {%else%} {{ category.en_title }} {%endif%} 
                    : 
                    {{ cr.get_type_display }}
                  </p>
                </div>
                <div class="w-75 d-flex align-items-end justify-content-end">
                  <p style="text-align: right;" class="p-0 m-0">
                    {{ cr.city }}, {{ cr.country }}
                  </p>
                </div>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
        {% endfor %}
      {% else %}
        <div class="container-fluid height-100 bg-light d-flex justify-content-center align-items-center flex-column">
          <img src="{% static 'images/empty.png' %}" class="empty-tender"  />
          <h4 class="my-text-gray capital text-center" style="line-height: 2em; mt-4">
            {{ settings.no_career.val |safe }}
          </h4>
        </div>
      {% endif %}
    </main>
{% endblock content %}