{% extends 'frontend/base.html' %}
{% load humanize %}
{% load static %}
{% load i18n %}

{% block extra_header %}

{% endblock %}

{% block content %}

<main>
  <!-- BISNIS KAMI -->
  <div style="padding-top: 60px;"> .</div>
  <!-- breadcrumb -->
  <div class="container-fluid bg-light py-3 px-5">
    <nav aria-label="breadcrumb bg-light">
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item m-0"><a href="/">{{ common_settings.beranda.val }}</a></li>
        <li class="breadcrumb-item m-0 active" aria-current="page">{{ common_settings.hubungi_kami.val }}</li>
      </ol>
    </nav>
  </div>

  {% if message %}
  <div class="alert alert-success mt-4 text-center" role="alert">
    {{message}}
  </div>
  {% endif %}

  <!-- BISNIS KAMI -->
  <div class="container d-flex flex-column justify-content-center align-items-center py-5">
    <h3 class="my-text-blue">{{ settings.title.val | safe }}</h3>
    <p class="mt-2 text-center ">{{ settings.sub_title.val | safe }}</p>
    <div class="mt-5 w-100" >
      <a href="{{settings.all_map_link.val}}" target="_blank">
        <iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Gedung%20Patra%20Jasa,%20Jl.%20Jend.%20Gatot%20Subroto,%20Kav.%2032-34,%20Lt.%20Dasar%20Ruang%20B,%20RT.6/RW.3,%20Kuningan,%20Kuningan%20Tim.,%20Kecamatan%20Setiabudi,%20Kota%20Jakarta%20Selatan,%20Daerah%20Khusus%20Ibukota%20Jakarta%2012950&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:1080px;}</style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:1080px;}</style>
      </a>
    </div>
  </div>

  <!-- Berita dan Acara -->
  <div class="container d-flex flex-column justify-content-center align-items-center pb-5">
    <div class="row gx-4 w-100">
      <div class="col-md-4 text-center">
        <img src="{% static 'images/phone.png' %}" style="max-width: 100%" />
        <h6 class="mt-4">{{ settings.telephone_title.val | safe }}</h6>
        <p class="">
          {{ settings.telphone_subtext.val | safe }}
        </p>
        <p class="my-text-green text-9">{{ settings.all_phone_number.val|safe }}</p>
      </div>
      <div class="col-md-4 text-center mt-lg-0 mt-5">
        <img src="{% static 'images/email.png' %}" style="max-width: 100%" />
        <h6 class="mt-4">{{ settings.email_title.val | safe }}</h6>
        <p class="">
          {{ settings.email_sub_text.val | safe }}
        </p>
        <p class="my-text-green text-9">
          {{ settings.all_email_address.val|safe }}
        </p>
      </div>
      <div class="col-md-4 text-center mt-lg-0 mt-5">
        <img src="{% static 'images/alamat.png' %}" style="max-width: 100%" />
        <h6 class="mt-4">{{ settings.address_title.val | safe }}</h6>
        <p class="">{{ settings.address_sub_text.val | safe }}</p>
        <p class="my-text-green text-9">
          {{ settings.all_address.val|safe }}
        </p>
      </div>
    </div>
  </div>

  <!-- KLIEN KAMI -->
  <div class="container-fluid bg-light d-flex flex-column justify-content-center align-items-center py-5">
    <div class="container-md contact-form-wrapper" >
      <h3 class="text-center">{{ settings.contact_form_title.val | safe }}</h3>
      <p class="text-center mt-2 mb-4">{{ settings.contact_form_sub_title.val | safe }}</p>
      <form action="" method="POST">
        {% csrf_token %} 
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <label for="exampleFormControlInput1" class="form-label">{{ settings.nama_depan_label.val | safe}}</label>
            <input class="form-control" name="first_name" required />
            {{ form.first_name.errors }}
          </div>
          <div class="col-md-6 col-sm-12">
            <label for="exampleFormControlInput1" class="form-label">{{ settings.nama_belakang_label.val | safe}}</label>
            <input class="form-control" name="last_name" required />
            {{ form.last_name.errors }}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label">{{ settings.email_label.val | safe}}</label>
            <input type="email" class="form-control" name="email" required />
            {{ form.email.errors }}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label">{{ settings.phone_label.val | safe}}</label>
            <input type="number" class="form-control" name="phone_number" required />
            {{ form.phone_number.errors }}
          </div>
        </div>

        <div class="row mt-2">
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label">{{ settings.message_label.val | safe }}</label>
            <textarea class="form-control" rows="4" name="message" required ></textarea>
            {{ form.message.errors }}
          </div>
        </div>

        {% if form.errors %}
            {% for field in form %}
                  {{field.errors}}
            {% endfor %}
        {% endif %}
        
        <div class="text-center">
          <button type="submit" class="btn btn-success mt-5" style="width: 40%;">{{ settings.button_text.val|safe }}</button>
        </div>
      </form>
    </div>
  </div>

</main>
{% endblock content %}