<!DOCTYPE html>
{% extends 'frontend/base.html' %} 
{% load humanize %} 
{% load static %} 
{% load i18n %} 
{% block extra_header %} {% endblock %} 
{% block content %}
<main>
  {% get_current_language as LG %}
    <!-- BISNIS KAMI -->
    <div style="padding-top: 60px;">.</div>
    <!-- breadcrumb -->
    <div class="container-fluid bg-light py-3 px-5">
      <nav aria-label="breadcrumb bg-light">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item m-0"><a href="/">{{ common_settings.beranda.val }}</a></li>
          <li class="breadcrumb-item m-0"><a href="/">{{ common_settings.tentang_kami.val }}</a></li>
          <li class="breadcrumb-item m-0 active">{{ common_settings.profil_direksi.val }}</li>
        </ol>
      </nav>
    </div>

  <div class="container-sm pt-5 mb-5">
    <h3 class="mb-4">{{settings.profile_direksi_title.val}}</h3>
    <div class="row mb-5 gx-5 justify-content-md-center">
      {%for dir in direksi %}
      <div class="col-md-4 mb-5">
        <div
          class="d-flex flex-column justify-content-center align-items-center image"
        >
          <img src="{{ dir.img.url }}" class="w-100 mb-4" />
          <h5 class="m-1 p-0">{{dir.name}}</h5>
          <p class="text-center m-0 p-0 my-text-green">
            {%if LG == 'id'%} {{dir.id_position}} {%else%} {{dir.en_position}}  {%endif%}
          </p>
          <p class="text-center mt-2 px-4">
            {%if LG == 'id'%} {{ dir.id_long_desc }} {%else%} {{ dir.en_long_desc }}  {%endif%}
          </p>
        </div>
      </div>
      {%endfor %}

    <h3 class="mb-4">{{settings.profile_komisaris_title.val}}</h3>
    <div class="row mb-5 justify-content-md-center">
      {%for km in komisaris %}
      <div class="col-md-4">
        <div
          class="d-flex flex-column justify-content-center align-items-center image"
        >
          <img src="{{ km.img.url }}" class="w-100 mb-4" />
          <h5 class="m-1 p-0">{{km.name}}</h5>
          <p class="text-center m-0 p-0 my-text-green">
            {%if LG == 'id'%} {{km.id_position}} {%else%} {{km.en_position}}  {%endif%}
          </p>
          <p class="text-center mt-2 px-4">
            {%if LG == 'id'%} {{ km.id_long_desc }} {%else%} {{ km.en_long_desc }}  {%endif%}
          </p>
        </div>
      </div>
      {%endfor %}
    </div>
  </div>
</main>

{% endblock content %}
