{% load static %}
<div class="container-fluid height-100 bg-light d-flex justify-content-center align-items-center flex-column">
  <img src="{% static 'images/empty.png' %}" class="empty-tender"  />
  <h4 class="my-text-gray capital text-center" style="line-height: 2em; mt-4">
    {{ text }}
  </h4>
</div>
