{% load static %}
<div
class="container-fluid p-0 d-flex justify-content-center align-items-center"
style="
  background-image: url('{%static "images/footer_banner.png" %}');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 240px;
"
> 
  <div class="container-md  d-none d-lg-block">
    <div class="row">
      <div class="col-lg-8 col-sm-12" style="padding-right: 8rem">
          <h2 class="text-white mb-3">{{ footer.ada_pertanyaan.val }}</h2>
          <p class="text-white text-12">
            {{ footer.ada_pertanyaan_desc.val |safe }}
          </p>
      </div>
      <div class="col-lg-4 col-sm-12">
        <p class="text-white mb-2 text-14"> Call Center </p>
        <a href="https://wa.me/88152900021" target="blank" >
          <img src="{%static 'images/call_center.png'%}" class="w-100" />
        </a>
      </div>
    </div>
  </div>

  <div class="container-md  d-lg-none py-5">
    <div class="row">
      <div class="col-lg-8 col-sm-12 text-center">
          <h2 class="text-white mb-3">{{ footer.ada_pertanyaan.val }}</h2>
          <p class="text-white text-12">
            {{ footer.ada_pertanyaan_desc.val |safe }}
          </p>
      </div>
      <div class="col-lg-4 col-sm-12 text-center mt-4">
        <p class="text-white mb-2 text-13"> Call Center </p>
        <a href="https://wa.me/88152900021" target="blank" _blank>
          <img src="{%static 'images/call_center.png'%}" class="w-50 mt-2" />
        </a>
      </div>
    </div>
  </div>
  
</div>

<div
  class="container-fluid p-sm-5"
  style="position: relative;"
>
  <div class="row w-100" style="width: 100%; margin: 0 !important">
    <div class="col-md-2 col-sm-6 d-flex flex-column footer-link mt-3">
      <h6 class="text-dark mb-2">{{ footer.bisnis_kami.val }}</h6>
      <a href="{% url 'frontend:our_business' %}#1">{{ footer.bisnis_kami_1.val }}</a>
      <a href="{% url 'frontend:our_business' %}#2">{{ footer.bisnis_kami_2.val }}</a>
      <a href="{% url 'frontend:our_business' %}#3">{{ footer.bisnis_kami_3.val }}</a>
    </div>
    <div class="col-md-2 col-sm-6 d-flex flex-column footer-link mt-3">
      <h6 class="text-dark mb-2">{{ footer.tentang_kami.val }}</h6>
      <a href="{% url 'frontend:aboutus' %}">{{ footer.profile_perusahaan.val }}</a>
      <a href="{% url 'frontend:management' %}">{{ footer.manajement.val }}</a>
      <a href="{% url 'frontend:aboutus' %}#award">{{ footer.penghargaan.val }}</a>
      <a href="{% url 'frontend:aboutus' %}#visimisi">Visi & Misi</a>
      <a href="{% url 'frontend:contactus' %}">{{ footer.kontak.val }}</a>
    </div>
    <div class="col-md-2 col-sm-6 d-flex flex-column footer-link mt-3">
      <h6 class="text-dark mb-2">{{ footer.quick_links.val }}</h6>
      <a href="{% url 'frontend:index' %}">{{ footer.beranda.val }}</a>
      <a href="{% url 'frontend:index' %}">{{ footer.patra_jasa.val }}</a>
    </div>
    <div class="col-md-2 col-sm-6 d-flex flex-column footer-link mt-3">
      <h6 class="text-dark mb-2">{{ footer.info.val }}</h6>
      <a href="{% url 'frontend:news' %}">{{ footer.news.val }}</a>
      <a href="{% url 'frontend:tjsl' %}">{{ common_settings.tjsl.val }}</a>
      <a href="{% url 'frontend:career' %}">{{ footer.karir.val }}</a>
      <a href="{% url 'frontend:tender' %}">{{ footer.tender.val }}</a>
      <a href="{% url 'frontend:gallery' %}">{{ footer.gallery.val }}</a>
    </div>
    <div class="col-md-4 col-sm-12 mt-3">
    <h6 class="text-dark">{{ footer.langganan_berita.val }}</h6>
    <form class="search-form" method="POST" id="redeemForm" name="search-form" action="">
      <div class="subscribe-form-input">
        <input type="email" name="email" class="email-input" placeholder="{{ footer.email_placeholder.val }}" required />
        <button type="submit" class="footer_btn_submit">
        <img class="footer_btn_submit_img" src="{%static 'images/btn_submit_email.png'%}"  />
        </button>
      </div>
    </form>
    <p class="mt-2" style="font-size: 0.8rem">
      {{ footer.subscribe_description.val |safe }}
    </p>
    <div class="d-flex mt-5 row-gap-5">
      <a class="me-3" href="{{common_settings.all_facebook_url.val}}" target="_blank"><img src="{% static 'images/facebook.png' %}" /></a>
      <a class="me-3" href="{{common_settings.all_linkedin_url.val}}" target="_blank"><img src="{% static 'images/linkedin.png' %}" /></a>
      <a class="me-3" href="{{common_settings.all_youtube_url.val}}" target="_blank"><img src="{% static 'images/youtube.png' %}" /></a>
      <a class="me-3" href="{{common_settings.all_instagram_url.val}}" target="_blank"><img src="{% static 'images/instagram.png' %}"/></a>
    </div>
    <img class="w-50 mt-5" src="{% static 'images/management.png' %}" />
    <div class="d-flex flex-row justify-content-between py-3 mt-4">
      <a href="" class="text-9">{{ footer.kebijakan_privasi.val }}</a>
      <a href="" class="text-9">© 2022 PT Prima Armada Raya</a>
    </div>
  </div>
</div>

<img
  style="position: absolute; width: 100px; bottom: 20%"
  src="{% static 'images/logo3.png' %}"
  class="d-none d-lg-block "
/>
</div>

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
  <script>
    // SUBMIT REDEEM
  $("#redeemForm").submit(function (e) {
    console.log("sdfsdfsdfsdfsdfsd")
    e.preventDefault();
    var serializedData = $(this).serialize();
    console.log("serializedData", serializedData)
    $.ajax({
      type: 'POST',
      url: "{% url 'frontend:subscribe' %}",
      data: serializedData,
      success: function (response) {
        Swal.fire({
          title: 'Success!',
          text: 'Email anda berhasil didaftarkan',
          confirmButtonText: 'OK',
          confirmButtonColor: '#0C659D',        
        })
      },
      error: function (response) {
        Swal.fire({
          title: 'Error!',
          text: 'Mohon maaf terjadi kesalahan sistem kami, silahkan coba lagi',
          confirmButtonText: 'OK',
          confirmButtonColor: '#0C659D',   
        })
      }
    });
  });

</script>
{% endblock extra_js %}