{% extends 'frontend/base.html' %} 
{% load humanize %} 
{% load static %} 
{% load i18n %} 
{% load templatehelpers %}

{% block extra_header %} {% endblock %} 

{% block content %}
{% get_current_language as LG %}
<main>
  <!-- BISNIS KAMI -->
  <div style="padding-top: 60px;">.</div>
  <div class="container-fluid bg-light py-3 px-5">
    <nav aria-label="breadcrumb bg-light">
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item m-0"><a href="/">{{ common_settings.beranda.val }}</a></li>
        <li class="breadcrumb-item m-0"><a href="#">{{ common_settings.media_informasi.val }}</a></li>
        <li class="breadcrumb-item m-0 active" aria-current="page">{{ common_settings.gallery.val }}</li>
      </ol>
    </nav>
  </div>

  <div
    class="container-fluid d-flex text-center justify-content-center align-items-center flex-column"
    style="
      background-image: url('{{ settings.all_banner_image.val.url }}');
      background-repeat: no-repeat;
      background-size: cover;
      height: 20em;
      background-position: center;
    "
  >
    <h2 class="text-white" style="line-height: 2em">{{ settings.title.val }}</h2>
    <p class="text-white">
      {{ settings.banner_sub_text.val | safe}}
    </p>
  </div>

  <div class="container-md pt-5 mb-5">
    <h5 class="InterVBold" >{{ settings.album_title.val | safe}}</h5>
    <div class="row mb-5">
      {% for al in albums %}
      <div class="col-md-4 col-sm-12 mb-lg-0 mb-5 mt-3">
        <a href="{% url 'frontend:gallery_detail' al.slug %}">
        <div
          class="d-flex flex-column justify-content-center align-items-center image"
        >
          <img src="{{ al.img.url }}" style="width: 100%" />
          <img
            src="{% static 'images/bg_album.png' %}"
            class="mb-2"
            style="width: 95%"
          />
          <p class="m-1 p-0">{{ al.date }}</p>
          <h5 class="m-1 p-0">
            {%if LG == 'id'%}  {{ al.id_title | safe }} {%else%}  {{ al.en_title | safe }} {%endif%}
          </h5>
          <p class="text-center m-0 p-0">
            {% if al.total_photo %} {{al.total_photo}} Foto {%endif%}
            {% if al.total_video %} - {{al.total_video}} Video {%endif%}
          </p>
        </div>
      </a>
      </div>
      {% endfor %}
      
    </div>
  </div>

  <div class="container-md pt-3 mb-5 d-flex justify-content-between border-top">
    <div >
      {% if albums.has_previous %}
        <a  href="{% relative_url albums.previous_page_number 'page' request.GET.urlencode %}" class="my-text-green"> <i class="fa fa-arrow-left"></i> &nbsp; Sebelumnya </a>
      {% else %}
        <span class="my-text-gray"> <i class="fa fa-arrow-left"></i> &nbsp; Sebelumnya </span>
      {% endif %}
    </div>
    <div class="d-flex justify-content-center">
      <nav aria-label="">
        <ul class="pagination">
          {% if albums.paginator.num_pages > 0 %}
            {% for i in albums.paginator.page_range %}
              <li class="page-item">
                <a  class="page-link {% if albums.number == i %}is-active{% endif %}" 
                    href="{% relative_url i 'page' request.GET.urlencode %}">
                      {{forloop.counter}}
                </a>
              </li>
            {% endfor %}
          {% else %}
            <a  class="page-link is-active" 
              href="{% relative_url 1 'page' request.GET.urlencode %}">
                1
            </a>
          {% endif %}
        </ul>
      </nav>
    </div>
    <div>
      {% if albums.has_next %}
        <a  href="{% relative_url albums.next_page_number 'page' request.GET.urlencode %}" class="my-text-green"> Selanjutnya &nbsp; <i class="fa fa-arrow-right"></i>  </a>
      {% else %}
        <span class="my-text-gray"> Selanjutnya &nbsp; <i class="fa fa-arrow-right"></i> </span>
      {% endif %}
    </div>
  </div>

</main>

{% endblock content %}
