{% extends 'frontend/base.html' %}
{% load humanize %}
{% load static %}
{% load i18n %}
{% block content %}
{% get_current_language as LG %}

<main>
  <!-- CAROUSEL -->
  <div class="bg-dark w-100 d-md-none" style="height: 60px">.</div>

  <div id="carousel1" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for bn in banners %}
      <div class="carousel-item {% if bn.id == 1 %} active {% endif %}">
        <img src="{{ bn.img.url }}" class="w-100" style="max-width: 100%">
        <div class="carousel-caption ">
          <h3>{%if LG == 'id'%}{{ bn.id_big_text | safe }}{%else%}{{ bn.en_big_text | safe }}{%endif%}</h3>
          <p class="d-none d-md-block"> {%if LG == 'id'%}{{ bn.id_small_text | safe }}{%else%}{{ bn.en_small_text | safe }}{%endif%}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="control-wrapper">
      <button class="control-next" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
        <img style="width: 26px;" src="{% static 'images/arrowleft.png' %}">
      </button>
      <P class="p-0 m-0 text-12 num" style="color: white; line-height: 2;"></P>
      <button class="control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="next">
        <img style="width: 26px;" src="{% static 'images/arrowright.png' %}">
      </button>
    </div>
    <div class="banner-call-center">
        <a href=""> <img  src="{% static 'images/banner_cc.png' %}"> <a/>
        <a href="https://wa.me/88152900021" target="blank" _blank>
          <img  src="{% static 'images/banner_wa.png' %}">
        </a>
    </div>
  </div>

  <!-- TENTANG KAMI -->
  <div class="bg-light container-fluid container-full ">
    <div class="row" >
      <div class="col-md-6 d-flex justify-content-center" >
          <img src="{{ settings.all_img_about_1.val.url }}" class="w-100"  />
      </div>
      <div
        class="col-md-6 p-lg-5 py-sm-5 d-flex flex-column justify-content-center mt-3"
      >
        <img src="{% static 'images/logo.png'%}" style="width: 6em" />
        <h4 class="mt-4">{{ settings.about_text.val | safe }}</h4>
        <p class="mt-3 text-11" style="line-height: 1.5em">{{ settings.about_description.val | safe }}</p>
        <a href="{% url 'frontend:aboutus' %}" class="btn btn-success btn-sm p-2 mt-3 w-50 text-11">
          {{ settings.about_title.val }}
        </a>
      </div>
    </div>
  </div>

  <!-- IMAGE MAP -->
  <div
    id="imageMap"
    class="bg-white container-fluid container-map"
  >
    <div class="text-wrapper d-none d-md-block">
      <h2>{{ settings.map_title.val | safe }}</h2>
      <p>{{ settings.map_description.val | safe }}</p>
      <div class="number-wrapper mt-5">
        <div>
          <h2 class="text-success"><span class="text-success Count">{{ settings.all_total_kendaraan.val }}</span> +</h2>
          <p>{{ settings.map_kendaraan.val }}</p>
        </div>
        <div>
          <h2 class="text-success"><span class="text-success Count">{{ settings.all_total_pengemudi.val }}</span> +</h2>
          <p>{{ settings.map_pengemudi.val }}</p>
        </div>
      </div>
    </div>
    <div class="text-wrapper-sm d-block d-md-none ">
      <h5>{{ settings.map_title.val | safe }}</h5>
      <p class="mt-4">{{ settings.map_description.val | safe }}</p>
      <div class="number-wrapper-sm mt-4">
        <div>
          <h6 class="text-success"><span class="text-success Count">{{ settings.all_total_kendaraan.val }}</span> +</h6>
          <p>{{ settings.map_kendaraan.val }}</p>
        </div>
        <div>
          <h6 class="text-success"><span class="text-success Count">{{ settings.all_total_pengemudi.val }}</span> +</h6>
          <p>{{ settings.map_pengemudi.val }}</p>
        </div>
      </div>
    </div>

    <div class="wrapper-map">
      <img src="{% static 'images/image_map.png' %}" class="img_map" usemap="#workmap">
    </div>



    {% comment %} <map name="workmap">
      <area shape="circle" coords="402,556,40" alt="Coffee" onclick="myFunction()" style="background-color: red;" >
      <!-- Image Map Generated by http://www.image-map.net/ -->
      <area coords="402,425,40" shape="circle">
      <area coords="522,575,40" shape="circle">
      <area coords="584,610,40" shape="circle">
      <area coords="655,518,40" shape="circle">
      <area coords="692,641,40" shape="circle">
      <area coords="719,493,40" shape="circle">
      <area coords="822,649,40" shape="circle">
      <area coords="859,512,40" shape="circle">
      <area coords="1128,502,40" shape="circle">
      <area coords="1244,551,40" shape="circle">
    </map> {% endcomment %}

    <!-- Image Map Generated by http://www.image-map.net/ -->
    <map name="workmap">
        <area  coords="398,561,30" shape="circle">
        <area  coords="522,702,30" shape="circle">
        <area  coords="582,740,30" shape="circle">
        <area  coords="695,768,30" shape="circle">
        <area  coords="721,620,30" shape="circle">
        <area  coords="1243,683,30" shape="circle">

    </map>
  </div>


  <div class="LTT" style="
    border-radius: 10px;
    padding: 4px 8px;
    width: 170px;
    height: 70px;
    text-align: center;
    font-size: 13px;
    color: var(--bs-my-green);
    background-image: url('{% static "images/bg_tooltip.png" %}');
    background-repeat: no-repeat;
    background-size: cover;
  "></div>

  <!-- BISNIS KAMI -->
  <div class="container-fluid d-flex bg-light justify-content-center align-items-center py-5"
  >
    <div class="container-lg">
    <h3 class="text-center">{{ settings.our_business_title.val }}</h3>
    <p class="text-center mt-3 d-none d-md-block">{{ settings.our_business_sub_title.val }}</p>
    <div class="row">
      {% for bs in business %}
      <div class="col-md-4 text-center mt-5">
        <img src="{{ bs.img.url }}" class="w-100" />
        <img src="{{ bs.logo.url }}" class="w-25 mt-4" />
        {% comment %} <h5 class="text-center mt-4 px-1">{{ bs.id_title }}</h5> {% endcomment %}
        <p class="mt-3 text-center text-10 px-1">
          {%if LG == 'id'%}{{ bs.id_short_desc |safe }}{%else%}{{ bs.en_short_desc }}{%endif%}
        </p>
        <a href="{% url 'frontend:our_business' %}#{{bs.slug}}" class="btn btn-success btn-sm p-2 mt-2">
          {{ settings.btn_selengkapnya.val }}
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  </div>

  <!-- Berita dan Acara -->
  <div
    class="container-fluid d-flex  justify-content-center align-items-center py-5"
  >
    <div class="container-lg "> 
    <h3 class="text-center">{{ settings.news_title.val }}</h3>
    <p class="text-center mt-3 d-none d-md-block">{{ settings.news_sub_title.val }}</p>
    <div class="row">
      {% for new in news %}

      <div class="col-md-4 mt-4">
        {% if new.type == 'artikel' %}
          <a href="{% url 'frontend:article_detail' new.slug %}">
        {% else %}
          <a href="{% url 'frontend:news_detail' new.slug %}">
        {% endif %}

        <div class="text-center">
          <img src="{{ new.img.url }}" class="w-100" />
        </div>
        <p class="mt-3 px-2 title-content text-dark mb-2">
          {%if LG == 'id'%}{{ new.id_title }}  {%else%} {{ new.en_title }}  {%endif%}
        </p>
        <p class="px-2 text-8 my-text-gray" >
          {{ new.date }} - 
          {% for tg in new.categories.all %} 
            {%if LG == 'id'%}{{ tg.id_title|upper }}, {%else%} {{ tg.en_title|upper }},   {%endif%}
          {% endfor %}
        </p>
      </a>
      </div>
      {% endfor %}
    </div>
  </div>
  </div>

  <!-- KLIEN KAMI -->
  <div
    class="container-fluid d-flex flex-column justify-content-center bg-light py-6"
    style="min-height: 50vh"
  >
    <div class="container-md">
    <h3 class="text-center">{{ settings.client_title.val }}</h3>
    <p class="mt-2 text-center mt-3 d-none d-md-block">{{ settings.client_sub_title.val }}</p>
    <div class="row gx-4 w-100 mt-5">
      {% for client in clients %}
      <div class="col-md-3 col-sm-6 mb-5 mt-5 text-center">
        <img src="{{ client.img.url }}" style="max-width: 90%" />
      </div>

      {% endfor %}
    </div>
    </div>
  </div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
  $(".Count").each(function () {
    $(this)
      .prop("Counter", 0)
      .animate(
        {
          Counter: $(this).text(),
        },
        {
          duration: 10000,
          easing: "swing",
          step: function (now) {
            $(this).text(Math.ceil(now));
          },
        }
      );
  });
</script>
<script type="text/javascript">
  {% comment %} get current index slider {% endcomment %}
  var totalItems = $('.carousel-item').length;
  var currentItem = $("#carousel1 .carousel-item.active" );
  var currentIndex = $('#carousel1 .carousel-item').index(currentItem) + 1;
  $('.num').html(currentIndex+'&nbsp; . &nbsp;<span class="InterVBold my-text-white">'+totalItems+'</span>');

  var currentIndex = $('.carousel-item.active').index() + 1;
  $('#carousel1').on('slid.bs.carousel', function() {
      var currentItem = $("#carousel1 .carousel-item.active" );
      var currentIndex = $('#carousel1 .carousel-item').index(currentItem) + 1;
      $('.num').html(currentIndex+'&nbsp; . &nbsp;<span class="InterVBold my-text-white">'+totalItems+'</span>');
  });
</script>
<script type="text/javascript" src="{% static 'js/imageMapResizer.min.js' %}"></script>
<script type="text/javascript" type="text/javascript">
  $('map').imageMapResize();
  $('.LTT').css({
    position: 'absolute'
  }).hide()
  $('area').each(function(i) {
      $('area').eq(i).bind('click', function(e) {
          let areaList = ['Dumai, Prov. Riau', 
                          'Plaju, Prov. Sumatra Selatan', 
                          'Balongan', 
                          'Cilacap, Prov. Jawa Tengah', 
                          'Balikpapan, Prov. Kalimantan Timur',  
                          'Sorong, Prov. Papua']
          let areaNumber = ['II', 'III', 'IV',  'V', 'VI', 'VII']
          $('.LTT').html(`<b>MOR ${areaNumber[i]} : </b> ${areaList[i]}`);
          $('.LTT').css({
              top: e.pageY - 70,
              left: e.pageX - 85
          }).show()
      })
      $('area').eq(i).bind('mouseout', function() {
          $('.LTT').hide()
      })
  })
</script>

{% comment %} sweet alert {% endcomment %}
{% endblock extra_js %}