{% extends 'frontend/base.html' %}
{% load humanize %}
{% load static %}
{% load i18n %}


{% block extra_header %}
<link href="{% static 'splide/css/splide.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
{% get_current_language as LG %}
<main>
  <!-- BISNIS KAMI -->
  <div style="padding-top: 60px;">.</div>
  <!-- breadcrumb -->
  <div class="container-fluid bg-light py-3 px-5">
    <nav aria-label="breadcrumb bg-light">
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item m-0"><a href="/">{{ common_settings.beranda.val }}</a></li>
        <li class="breadcrumb-item m-0 active">{{ common_settings.hubungan_investor.val }}</li>
      </ol>
    </nav>
  </div>


  <div class="container-fluid d-flex text-center justify-content-center align-items-center flex-column" style="
          background-image: url('{{ settings.all_banner_image.val.url }}');
          background-repeat: no-repeat;
          background-size: cover;
          height: 20em;
          background-position: center;
        ">
    <h2 class="text-white" style="line-height: 2em">{{ settings.title.val }}</h2>
    <p class="text-white text-13">{{ settings.banner_text.val|safe }}</p>
  </div>

  <!--  banner -->
  <div class="container-fluid py-5 px-md-5 bg-light">
    <div class="container-md">
      <div class="row">
        <div class="col-md-6">
          <img src="{{ settings.all_komitmen_image.val.url }}" class="w-100" />
        </div>

        <div class="col-md-6 d-flex flex-column justify-content-center mt-5 mt-lg-0  ">
          <h1 class="mb-4">{{ settings.komitmen_text.val | safe }}</h1>
          <p>{{ settings.komitmen_description.val | safe }}</p>
        </div>

      </div>
    </div>
  </div>

  <!-- laporan tahunan -->
  <div class="container-fluid py-5 ">
    <div class="container-md py-5">
      <h2 class="mb-3 ">{{ settings.yearly_report_title.val }}</h2>
      <p class="mb-5 ">{{ settings.yearly_report_sub_title.val }}</p>
      <section class="splide" id="yeearliReport">
        <div class="splide__track">
          <ul class="splide__list">
            {% for yr in yearly_reports %}
            <li class="splide__slide">
              <div class="timeline-item text-center">
                <img src="{{ yr.img.url }}" class="w-75"  />
                <div class="text-center mt-4 px-5">
                  <p class="text-center fw-bold mb-2 my-text-blue text-11">
                    {%if LG == 'id'%} {{ yr.id_title|safe }} {%else%}  {{ yr.en_title|safe }}  {%endif%}
                  </p>
                  <a href="{{ yr.file.url }}" class="btn btn-success btn-sm p-2 mt-2" target="_blank">
                    {{ common_settings.lihat_laporan.val }}
                  </a>
                </div>
              </div>
            </li>
            {% endfor %}

          </ul>
        </div>
      </section>
      </div>
  </div>

</main>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'splide/js/splide.min.js' %}"></script>
<script src="{% static 'splide/js/splide-renderer.min.js' %}"></script>
<script src="{% static 'js/myjs.js' %}"></script>
<script src="{% static 'js/mysplide.js' %}"></script>
{% endblock %}