<meta name="description" content="{{common_settings.all_seo_description.val}}" />
<meta name="keywords" content="{{common_settings.all_seo_keywords.val}}" />
<meta name="application-name" content="Web" />

<meta property="fb:app_id" content="{{common_settings.all_seo_fb_id.val}}" />
<meta property="og:title" content="{{common_settings.all_seo_title.val}}" />
<meta property="og:type" content="web" />
<meta property="og:image" content="{{common_settings.all_website_url.val}}{{common_settings.all_seo_image.val}}" />
<meta property="og:url" content="{{common_settings.all_website_url.val}}" />
<meta property="og:description" content="{{common_settings.all_seo_description.val}}" />

<meta name="twitter:title" content="{{common_settings.all_seo_title.val}}" />
<meta name="twitter:description" content="{{common_settings.all_seo_description.val}}" />
<meta name="twitter:image" content="{{common_settings.all_website_url.val}}{{common_settings.all_seo_image.img_value}}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image:width" content="1200" />
<meta name="twitter:image:height" content="630" />