{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% url 'frontend:index' as home_url %}
{% load templatehelpers %}

{% comment %} <nav class="navbar navbar-expand-md fixed-top navbar-white bg-white {% if request.get_full_path == home_url %} navbar-home {% endif %}" > {% endcomment %}
<nav class="navbar navbar-expand-md fixed-top navbar-white bg-white " >
  <div class="container-fluid ps-0 ">
    <div style="width: 15%">
      <a href = "/">
        <img src="{% static 'images/logo_home.png' %}" class="" alt="par-logo"  id="logoPAR" style="max-width: 80px; margin-left: 32px;"/>
      </a>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon">
        <i class="fa fa-navicon" style=" font-size:28px;"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="true">
            {{common_settings.tentang_kami.val}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown1">
            <li><a class="dropdown-item" href="{% url 'frontend:aboutus'%}">{{common_settings.tentang_kami.val}}</a></li>
            <li><a class="dropdown-item" href="{% url 'frontend:management'%}">{{common_settings.profil_direksi.val}}</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'frontend:our_business'%}">{{common_settings.bisnis_kami.val}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'frontend:investor'%}">{{common_settings.hubungan_investor.val}}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
            {{common_settings.media_informasi.val}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="{% url 'frontend:news' %}">{{common_settings.artikel_dan_berita.val}}</a></li>
            <li><a class="dropdown-item" href="{% url 'frontend:gallery' %}">{{common_settings.gallery.val}}</a></li>
            <li><a class="dropdown-item" href="{% url 'frontend:tender' %}">{{common_settings.tender.val}}</a></li>
            <li><a class="dropdown-item" href="{% url 'frontend:career' %}">{{common_settings.karir.val}}</a></li>
            <li><a class="dropdown-item" href="{% url 'frontend:tjsl' %}">{{common_settings.tjsl.val}}</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'frontend:contactus'%}">{{common_settings.hubungi_kami.val}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'frontend:portal'%}">{{common_settings.portal.val}}</a>
      </ul>

      <form
        action="{% url 'frontend:search' %}"
        method="get"
        class="d-flex align-items-center border px-4 py-1 me-2 form-search"
        style="border-radius: 2rem;"
      >
        <i class="fa fa-search me-2"></i>
        <input
          name="query"
          class="searchinput"
          placeholder="Search"
          aria-label="Search"
          value= {%if query %}{{query}} {%else%} "" {%endif%}
          style="font-size: 1.1rem; border: none; background-color: transparent;"
        />
      </form>

      <div
        class="d-none d-md-flex border rounded-circle p-1 form-language"
        style="width: 2.2em"
      >
        {% if LANGUAGE_CODE == 'en' %}
          <span class="text-center w-100">
            <a href="{{ request.get_full_path|replace_lang}}" class="lang" lang="id">ID</a>
          </span> 
        {% else %}
          <span class="text-center w-100">
            <a href="{{ request.get_full_path|replace_lang}}" class="lang" lang="id">EN</a>
          </span> 
        {% endif %}
      </div>
    </div>
  </div>
</nav>