{% extends 'frontend/base.html' %}
{% load humanize %}
{% load static %}
{% load i18n %}
{% load templatehelpers %}

{% block extra_header %} {% endblock %}


{% block content %}
    
  {% get_current_language as LG %}
    <main>
      <div style="padding-top: 60px;">.</div>
      <div class="container-fluid bg-light py-3 px-5">
        <nav aria-label="breadcrumb bg-light">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item m-0"><a href="/">{{ common_settings.beranda.val }}</a></li>
            <li class="breadcrumb-item m-0"><a href="#">{{ common_settings.media_informasi.val }}</a></li>
            <li class="breadcrumb-item m-0 active" aria-current="page">{{ common_settings.artikel_dan_berita.val }}</li>
          </ol>
        </nav>
      </div>
  

      <div class="container-fluid d-flex text-center justify-content-center align-items-center flex-column" 
      style="
          background-image: url('{{ settings.all_banner_image.val.url }}');
          background-size: cover;
          height: 20em;
          background-position: center;
        ">
        <h2 class="text-white" style="line-height: 2em" >{{ settings.banner_text.val|safe }}</h2>
        <p class="text-white text-13">{{ settings.banner_sub_text.val|safe }}</p>
      </div>


    <div
      class="container-md pt-5 mb-5"
    >
      <h4 class="mb-4 InterVBold"> {{ settings.latest_news_title.val|safe }} </h4>
      <div class="row pb-md-5">
        <div class="col-md-6 col-sm-12">
          <a href="{% url 'frontend:article_detail' first_news.slug %}">
            <div class="d-flex flex-column justify-content-center">
              <img src="{{ first_news.img.url }}" class="w-100 mb-3" />
              <p class="p-0 my-text-green text-9 mb-1"> {{ first_news.date }}</p>
              <h5 class="p-0">
                {%if LG == 'id'%} {{ first_news.id_title | safe }} {%else%}  {{ first_news.en_title | safe }}  {%endif%}
              </h5>
              <p class="m-0 p-0 text-9 my-text-gray">
                {%if LG == 'id'%} {{ first_news.id_short_desc | safe}}  {%else%} {{ first_news.en_short_desc | safe}}   {%endif%}
              </p>
              <div class="d-flex mt-2">
                {% for tg in first_news.categories.all %} 
                  <span class="tag border-secondary  mt-2 me-3 p-1 px-3" style="
                  color: {{tg.color}};
                  background-color: {{tg.bg_color}};
                  border-radius: 20px
                ">
                  {%if LG == 'id'%} {{ tg.id_title|upper }} {%else%} {{ tg.en_title|upper }}  {%endif%}
                </span>
                {% endfor %}
              </div>
            </div>
          </a>
        </div>
        
        <div class="col-md-6 col-sm-12 mt-5 mt-lg-0">
          {% for nw in second_news %}
            <a href="{% url 'frontend:article_detail' nw.slug %}" class="d-none d-md-block">
              <div class="d-flex flex-row mb-4">
                <img src="{{ nw.img.url }}" class="w-50 me-3" />
                <div class="w-50">
                  <p class="p-0 my-text-green text-9 mb-1">{{ nw.date }}</p>
                  <h5 class="p-0">
                    {%if LG == 'id'%} {{ nw.id_title | safe }} {%else%} {{ nw.en_title | safe }}  {%endif%}
                  </h5>
                  <p class="m-0 p-0 text-9 my-text-gray">
                    {%if LG == 'id'%} {{ nw.id_short_desc | safe}}  {%else%} {{ nw.en_short_desc | safe}}   {%endif%}
                  </p>
                  <div class="d-flex mt-2">

                    {% for tg in nw.categories.all %} 
                      <span class="tag border-secondary  mt-2 me-3 p-1 px-3" style="
                        color: {{tg.color}};
                        background-color: {{tg.bg_color}};
                        border-radius: 20px
                      ">
                        {%if LG == 'id'%} {{ tg.id_title|upper }} {%else%} {{ tg.en_title|upper }}  {%endif%}
                      </span>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </a>

            {% comment %} form mobile only {% endcomment %}
            <a href="{% url 'frontend:article_detail' nw.slug %}" class="d-block d-md-none mb-5">
              <div class="d-flex flex-column justify-content-center">
                <img src="{{ nw.img.url }}" class="w-100 mb-3" />
                <p class="p-0 my-text-green text-9 mb-1"> {{ nw.date }}</p>
                <h5 class="p-0">
                  {%if LG == 'id'%} {{ nw.id_title | safe }} {%else%}  {{ nw.en_title | safe }}  {%endif%}
                </h5>
                <p class="m-0 p-0 text-9 my-text-gray">
                  {%if LG == 'id'%} {{ nw.id_short_desc | safe}}  {%else%} {{ nw.en_short_desc | safe}}   {%endif%}
                </p>
                <div class="d-flex mt-2">
                  {% for tg in nw.categories.all %} 
                    <span class="tag border-secondary  mt-2 me-3 p-1 px-3" style="
                    color: {{tg.color}};
                    background-color: {{tg.bg_color}};
                    border-radius: 20px
                  ">
                    {%if LG == 'id'%} {{ tg.id_title|upper }} {%else%} {{ tg.en_title|upper }}  {%endif%}
                  </span>
                  {% endfor %}
                </div>
              </div>
            </a>
            
          {% endfor %}
        </div>
      </div>

      <div
      class=" mb-5"
    >
      <div class="row mb-5">
        {% for new in news %}
        <div class="col-md-4 mb-5 mb-lg-0">
          <a href="{% url 'frontend:article_detail' new.slug %}">
          <div class="d-flex flex-column justify-content-center image">
            <img src="{{ new.img.url }}" class="w-100 mb-3" />
            <p class="p-0 my-text-green mb-1 text-9">{{new.date}}</p>
            <h5 class="p-0">
              {%if LG == 'id'%} {{ new.id_title | safe}} {%else%} {{ ar.en_title | safe}}  {%endif%}
            </h5>
            <p class="m-0 p-0 text-9 my-text-gray">
              {%if LG == 'id'%} {{ new.id_short_desc | safe}}  {%else%} {{ new.en_short_desc | safe}}   {%endif%}
            </p>
            <div class="d-flex mt-2">
              {% for tg in new.categories.all %} 
                <span class="tag border-secondary  mt-2 me-3 p-1 px-3" style="
                  color: {{tg.color}};
                  background-color: {{tg.bg_color}};
                  border-radius: 20px
                ">
                  {%if LG == 'id'%} {{ tg.id_title|upper }} {%else%} {{ tg.en_title|upper }}  {%endif%}
                </span>
              {% endfor %}
            </div>
          </div>
        </a>
        </div>
        {% endfor %}
      </div>

    </div>


      <div
        class="pt-md-4 mb-5"
      >
        <h4 class="mb-4 InterVBold"> {{ settings.latest_artikel_title.val|safe }} </h4>
        <div class="row mb-5">
          {% for ar in articles %}
          <div class="col-md-4 mb-5 mb-lg-0">
            <a href="{% url 'frontend:article_detail' ar.slug %}">
            <div class="d-flex flex-column justify-content-center image">
              <img src="{{ ar.img.url }}" class="w-100 mb-3" />
              <p class="p-0 my-text-green mb-1 text-9">{{ar.date}}</p>
              <h5 class="p-0">
                {%if LG == 'id'%} {{ ar.id_title | safe}} {%else%} {{ ar.en_title | safe}}  {%endif%}
              </h5>
              <p class="m-0 p-0 text-9 my-text-gray">
                {%if LG == 'id'%} {{ ar.id_short_desc | safe}}  {%else%} {{ ar.en_short_desc | safe}}   {%endif%}
              </p>
              <div class="d-flex mt-2">
                {% for tg in ar.categories.all %} 
                  <span class="tag border-secondary  mt-2 me-3 p-1 px-3" style="
                    color: {{tg.color}};
                    background-color: {{tg.bg_color}};
                    border-radius: 20px
                  ">
                    {%if LG == 'id'%} {{ tg.id_title|upper }} {%else%} {{ tg.en_title|upper }}  {%endif%}
                  </span>
                {% endfor %}
              </div>
            </div>
          </a>
          </div>
          {% endfor %}
        </div>

      </div>

      <div class="container-md pt-3 mb-5 d-flex justify-content-between border-top">
        <div >
          {% if articles.has_previous %}
            <a  href="{% relative_url articles.previous_page_number 'page' request.GET.urlencode %}" class="my-text-green"> <i class="fa fa-arrow-left"></i> &nbsp; Sebelumnya </a>
          {% else %}
            <span class="my-text-gray"> <i class="fa fa-arrow-left"></i> &nbsp; Sebelumnya </span>
          {% endif %}
        </div>
        <div class="d-flex justify-content-center">
          <nav aria-label="">
            <ul class="pagination">
              {% if articles.paginator.num_pages > 0 %}
                {% for i in articles.paginator.page_range %}
                  <li class="page-item">
                    <a  class="page-link {% if articles.number == i %}is-active{% endif %}" 
                        href="{% relative_url i 'page' request.GET.urlencode %}">
                          {{forloop.counter}}
                    </a>
                  </li>
                {% endfor %}
              {% else %}
                <a  class="page-link is-active" 
                  href="{% relative_url 1 'page' request.GET.urlencode %}">
                    1
                </a>
              {% endif %}
            </ul>
          </nav>
        </div>
        <div>
          {% if articles.has_next %}
            <a  href="{% relative_url articles.next_page_number 'page' request.GET.urlencode %}" class="my-text-green"> Selanjutnya &nbsp; <i class="fa fa-arrow-right"></i>  </a>
          {% else %}
            <span class="my-text-gray"> Selanjutnya &nbsp; <i class="fa fa-arrow-right"></i> </span>
          {% endif %}
        </div>
      </div>
      
    </div>
    </div>
  </main>
{% endblock content %}
