{% extends 'frontend/base.html' %}
{% load humanize %}
{% load static %}
{% load i18n %}


{% block extra_header %} 
  
{% endblock %}

{% block content %}
{% get_current_language as LG %}
    <main>
      <!-- BISNIS KAMI -->
      <div style="padding-top: 60px;">.</div>
      <!-- breadcrumb -->
      <div class="container-fluid bg-light py-3 px-5">
        <nav aria-label="breadcrumb bg-light">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item m-0"><a href="/">{{ common_settings.beranda.val }}</a></li>
            <li class="breadcrumb-item m-0"><a href="#">{{ common_settings.media_informasi.val }}</a></li>
            <li class="breadcrumb-item m-0 active">{{ common_settings.berita.val }}</li>
          </ol>
        </nav>
      </div>
    

      <div class="container-fluid d-flex text-center justify-content-center align-items-center flex-column" 
      style="
          background-image: url('{{news.img.url}}');
          background-repeat: no-repeat;
          background-size: cover;
          height: 25em;
          background-position: center;
        ">
      </div>
      
      <div
        class="container-fluid bg-light"
        style="
          position: relative;
        "
      >
        <div id="one" class="" > </div>
        <div id="two" class="
          container bg-white p-5 
          border-bottom border-success border-4 news-wrapper" 
        >
          <div class="container pb-5 bg-white ">
            <h2 class="mb-5">
              {%if LG == 'id'%} {{ news.id_title|safe }} {%else%}  {{ news.en_title|safe }}  {%endif%}
            </h2>
            {%if LG == 'id'%} {{ news.id_long_desc | safe }} {%else%} {{ news.en_long_desc | safe }} {%endif%}
          </div>
          <div class="container px-lg-5 d-flex align-items-center">
            <p class="me-3 mb-0">{{common_settings.bagikan.val}}: </p>
            <a class="me-1"href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
              <img src="{% static 'images/facebook.png' %}" class="img_share"/>
            </a>
            <a class="me-1" href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}" target="_blank">
            <img src="{% static 'images/twitter.png' %}" class="img_share"/>
            </a>
          </div>
        </div>
      </div>
 
    
    </main>
    {% endblock content %}
    {% block extra_js %}
    <script>
      (function(){
        var one = document.querySelector('#one');
        var two = document.querySelector('#two')
        one.style.height = two.offsetHeight + 'px';	
      }())
    </script>
    {% endblock %}
