{% extends 'frontend/base.html' %}
{% load humanize %}
{% load static %}
{% load i18n %}


{% block extra_header %}
<link href="{% static 'splide/css/splide.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
{% get_current_language as LG %}
<main>
  <!-- BISNIS KAMI -->
  <div style="padding-top: 60px;">.</div>
  <!-- breadcrumb -->
  <div class="container-fluid bg-light py-3 px-5">
    <nav aria-label="breadcrumb bg-light">
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item m-0"><a href="/">{{ common_settings.beranda.val }}</a></li>
        <li class="breadcrumb-item m-0 active" aria-current="page">{{ settings.title.val }}</li>
      </ol>
    </nav>
  </div>
  

  <div class="container-fluid d-flex text-center justify-content-center align-items-center flex-column" style="
      background-image: url('{{ settings.all_banner_image.val.url }}');
      background-repeat: no-repeat;
      background-size: cover;
      height: 35em;
      background-position: center;
    ">
    <div class="container mt-5 mb-5">
      <p class="text-white text-center text-15">{{ settings.title.val }}</p>
      <h1 class="text-white" style="line-height: 1.5em">
        {{ settings.banner_text.val | safe }}
      </h1>
    </div>
  </div>

  <div class="container-fluid bg-light px-5 py-3 d-flex align-items-center justify-content-between">
    <a class="nav-link active" href="{{ bs.slug }}">{{ settings.title.val }}</a>
    <nav class=" navbar-expand-lg bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% for bs in business%}
          <li class="nav-item">
            <a class="nav-link active" href="#{{ bs.id }}">
              
              {%if LG == 'id'%} {{ bs.id_title|safe }} {%else%} {{ bs.en_title|safe }}  {%endif%}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>


  <div class="container-md mt-5 mb-5 px-sm-4">
    {% for bs in business%}
      <div class="row business-row" id="{{ bs.id }}" style="padding-top: 90px">
        <div class="col-md-6 img-business">
          <img src="{{ bs.img.url }}" class="w-100" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center py-sm-4 {% if forloop.counter == 2 %} order-md-first {%else%} ps-md-5  {% endif %}" >
          <img src="{{ bs.logo.url }}"  class="mb-4" style="width: 30%" />

              {%if LG == 'id'%} {{ bs.id_long_desc|safe }} {%else%} {{ bs.en_long_desc|safe }}  {%endif%}
  
              {% comment %} fleet service {% endcomment %}
              {% comment %} <div>
                <p class="mb-4">Penyediaan jasa sewa transportasi kendaraan dengan skema :</p>
                <div class="d-flex align-items-top mb-2">
                  <i class="fa fa-circle me-3 my-text-green" aria-hidden="true"></i>
                  <div>
                    <p class="mb-1 InterVBold">KONTRAK PANJANG</p>
                    <p>Masa sewa ≥ 1 tahun (time charter / long term)</p>
                  </div>
                </div>

                <div class="d-flex align-items-top">
                  <i class="fa fa-circle mt-1 me-3 my-text-green" aria-hidden="true"></i>
                  <div>
                    <p class="mb-1 InterVBold">KONTRAK PENDEK</p>
                    <p>Masa sewa < 1 tahun (spot charter/ spot term/ daily/ retail)</p>
                  </div>
                </div>
              </div> {% endcomment %}

              {% comment %} driver management {% endcomment %}
              {% comment %} <div>
                <p class="mb-4 pe-md-5">Penyediaan jasa layanan pengemudi dengan skema <br /> kontrak panjang (long term) dan pendek (short term)</p>
                <div class="d-flex align-items-top mb-2">
                  <i class="fa fa-circle me-3 my-text-green" aria-hidden="true"></i>
                  <div>
                    <p>Jasa layanan pengemudi dengan kendaraan</p>
                  </div>
                </div>

                <div class="d-flex align-items-top">
                  <i class="fa fa-circle mt-1 me-3 my-text-green" aria-hidden="true"></i>
                  <div>
                    <p>Jasa layanan pengemudi tanpa kendaraan</p>
                  </div>
                </div>
                <p class="mt-3 pe-md-5"> <span class="InterVBold"> Layanan pengemudi profesional untuk keperluan: </span> <br/>
                  Full-dedicated, pool services, dan on-call service
                </p>                  
              </div> {% endcomment %}


              {% comment %} auto care and sales {% endcomment %}
               {% comment %} <div>
                <p class="mb-3 pe-md-5">Penyediaan jasa perawatan dan/atau perbaikan kendaraan dengan  dukungan jaringan bengkel dan suku cadang asli ex-ATPM (OEM)</p>
                <p class="mb-3 pe-md-5">Penjualan kendaraan pasca kontrak sewa berakhir dengan skema  penjualan secara:</p>
                <div class="d-flex align-items-top mb-2">
                  <i class="fa fa-circle mt-1 me-3 my-text-green" aria-hidden="true"></i>
                  <div>
                    <p>Langsung (direct sales)</p>
                  </div>
                </div>

                <div class="d-flex align-items-top">
                  <i class="fa fa-circle mt-1 me-3 my-text-green" aria-hidden="true"></i>
                  <div>
                    <p>Lelang (bekerjasama dengan Balai Lelang)</p>
                  </div>
                </div>

                 <div class="d-flex align-items-top">
                  <i class="fa fa-circle mt-1 me-3 my-text-green" aria-hidden="true"></i>
                  <div>
                    <p>Kolektif (bulk)</p>
                  </div>
                </div>

              </div> {% endcomment %}

              <div class="mt-3">
                <a href="https://wa.me/88152900021" target="blank"  class="btn btn-success btn-sm btn-contact text-11">
                  {{ common_settings.hubungi_kami.val}}
                </a>
              </div>
              
        </div>
      </div>
    {% endfor %}

  </div>
</main>
{% endblock content %}