{% extends 'frontend/base.html' %}
{% load humanize %}
{% load static %}
{% load i18n %}

{% block extra_header %} 
  
{% endblock %}


{% block content %}
  {% get_current_language as LG %}
    <main>
      <div class="container-fluid py-4 bg-gray" style="height: 100vh">
        <div
          class="d-sm-block d-md-flex flex-md-row"
          style="height: 100%; column-gap: 0.5rem"
        >
        {% for pr in portals %}
          <div
            class="border rounded "
            style="
              background-image: url('{{ pr.img.url }}');
              background-repeat: no-repeat;
              background-size: cover;
              flex: 1;
              height: 100%;
            "
          >
            <div style="background: rgba(0, 0, 0, 0.3); height: 100%">
              <div
                style="
                  {% comment %} background-image: linear-gradient(
                    rgba(0, 0, 0, 0) 50%,
                    #044066 90%
                  ); {% endcomment %}
                  height: 100%;
                  position: relative;
                "
              >
                <div class="px-4 position-absolute bottom-0 pb-4" style="width: 100%">
                  <h4 class="my-text-white {%if portals.count == 1 %} text-center {%endif%}">
                    {%if LG == 'id'%}{{ pr.id_big_text|safe }} {%else%} {{ pr.en_big_text|safe }}  {%endif%}
                  </h4>
                  <p class="my-text-white text-11 {%if portals.count == 1 %} text-center {%endif%}">
                    {%if LG == 'id'%} {{ pr.id_small_text|safe }} {%else%} {{ pr.en_small_text|safe }}  {%endif%}
                  </p>
                  <a href="{{pr.link}}" 
                    target="_blank"
                    class="btn btn-success btn-sm w-100 p-2 text-12 {%if portals.count == 1 %} text-center {%endif%}">{{ common_settings.kunjungi_website.val}}</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </main>

    {% endblock content %}