{% extends 'frontend/base.html' %}
{% load humanize %}
{% load static %}
{% load i18n %}

{% block extra_header %} 
  <link href="{% static 'splide/css/splide.min.css' %}" rel="stylesheet" />
{% endblock %}


{% block content %}
  {% get_current_language as LG %}
    <main>
      <div class="container-fluid ">
          <section class="splide" id="portals">
            <div class="splide__track">
              <ul class="splide__list">
                {% for pr in portals %}
                <li class="splide__slide">

                  <div
                    class="border rounded "
                    style="
                      background-image: url('{{ pr.img.url }}');
                      background-repeat: no-repeat;
                      background-size: cover;
                      flex: 1;
                      height: 100%;
                    "
                  >
                    <div style="background: rgba(0, 0, 0, 0.3); height: 100%">
                      <div
                        style="
                          {% comment %} background-image: linear-gradient(
                            rgba(0, 0, 0, 0) 50%,
                            #044066 90%
                          ); {% endcomment %}
                          height: 100%;
                          position: relative;
                        "
                      >
                        <div class="px-4 position-absolute bottom-0 pb-4 w-100">
                          <h4 class="text-white">
                            {%if LG == 'id'%}{{ pr.id_big_text|safe }} {%else%} {{ pr.en_big_text|safe }}  {%endif%}
                          </h4>
                          <p class="text-white text-11">
                            {%if LG == 'id'%} {{ pr.id_small_text|safe }} {%else%} {{ pr.en_small_text|safe }}  {%endif%}
                          </p>
                          <a href="{{pr.link}}" 
                            target="_blank"
                            class="btn btn-success btn-sm w-100 p-2 text-12" style="width: 100%">{{ common_settings.kunjungi_website.val}}</a>
                        </div>
                      </div>
                    </div>

                </li>
                {% endfor %}
              </ul>
            </div>
          </section>
      </div>
  </main>
{% endblock content %}


{% block extra_js %} 
  <script src="{% static 'splide/js/splide.min.js' %}"></script>
  <script src="{% static 'splide/js/splide-renderer.min.js' %}"></script>
  <script src="{% static 'js/myjs.js' %}"></script>
  <script src="{% static 'js/mysplide.js' %}"></script>
{% endblock %}
