{% extends 'frontend/base.html' %}
{% load humanize %}
{% load static %}
{% load i18n %}

{% block extra_header %} 
  
{% endblock %}



{% block content %}
{% get_current_language as LG %}
    <main>
      <!-- BISNIS KAMI -->
      <div style="padding-top: 60px;">.</div>
      <div class="container-fluid bg-light py-3 px-5">
        <nav aria-label="breadcrumb bg-light">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item m-0"><a href="/">{{ common_settings.beranda.val }}</a></li>
            {% comment %} <li class="breadcrumb-item m-0"><a href="/">{{ settings.title.val }}</a></li> {% endcomment %}
            <li class="breadcrumb-item m-0 active" aria-current="page">{{ settings.title.val }}</li>
          </ol>
        </nav>
      </div>

      {% if newss %}
        <div class="container-md pt-5 mb-5">
          <div class="d-flex justify-content-between">
            <h5 class="mt-2 mb-3">{{ common_settings.artikel_dan_berita.val }}</h5>
          </div>
          {% for aa in newss %}
            {% if aa.type == 'artikel' %}
              <a href="{% url 'frontend:article_detail' aa.slug %}">
            {% else %}
              <a href="{% url 'frontend:news_detail' aa.slug %}">
            {% endif %}
            <div class="p-3 border border-radius mb-3">
              <h6>
                
                {%if LG == 'id'%} {{ aa.id_title|safe }} {%else%} {{ aa.en_title|safe }}  {%endif%}
              </h6>
              <div class="d-flex">
                <div class="w-25">
                  <p class="m-0 p-0">
                    
                    {%if LG == 'id'%} {{ aa.id_short_desc|safe }} {%else%} {{ aa.en_short_desc|safe }}  {%endif%}
                  </p>
                </div>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
      {% endif %}

      {% if tenders %}
        <div class="container-md pt-5 mb-5">
          <div class="d-flex justify-content-between">
            <h5 class="mt-2 mb-3">{{ common_settings.tender.val }}</h5>
          </div>
          {% for dt in tenders %}
            <div class="p-3 border border-radius mb-3">
              <h6>{{ dt.title }}</h6>
              <div class="d-flex">
                <div class="w-25">
                  <p class="m-0 p-0">
                    {%if LG == 'id'%}  {{ dt.id_title|safe }} {%else%}  {{ dt.en_title|safe }}  {%endif%}
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% if careers %}
        <div class="container-md pt-5 mb-5">
          <div class="d-flex justify-content-between">
            <h5 class="mt-2 mb-3">{{ common_settings.karir.val }}</h5>
          </div>
          {% for dt in careers %}
          <a href="{% url 'frontend:career_detail' dt.slug %}" />
            <div class="p-3 border border-radius mb-3">
              <h6>
                {%if LG == 'id'%}  {{ dt.id_title }} {%else%}  {{ dt.en_title }}  {%endif%}
              </h6>
              <div class="d-flex">
                <div class="w-25">
                  {% comment %} <p class="m-0 p-0">{{ dt.id_title }}</p> {% endcomment %}
                </div>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
      {% endif %}

      {% if total == 0 %}
        <div class="container-fluid height-100 bg-light d-flex justify-content-center align-items-center flex-column">
          <img src="{% static 'images/empty.png' %}" class="empty-tender"  />
          <h4 class="my-text-gray capital text-center" style="line-height: 2em; mt-4">
            {{ settings.not_found_search.val |safe }}
          </h4>
        </div> 
      {% endif %}
    </main>
{% endblock content %}