{% extends 'frontend/base.html' %}
{% load humanize %}
{% load static %}
{% load i18n %}
{% get_current_language as LG %}

{% block extra_header %} 
  
{% endblock %}



{% block content %}
{% get_current_language as LG %}
    <main>
      <!-- BISNIS KAMI -->
      <div style="padding-top: 60px;">.</div>
      <div class="container-fluid bg-light py-3 px-5">
        <nav aria-label="breadcrumb bg-light">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item m-0"><a href="/">{{ common_settings.beranda.val }}</a></li>
            <li class="breadcrumb-item m-0"><a href="#">{{ common_settings.media_informasi.val }}</a></li>
            <li class="breadcrumb-item m-0 active" aria-current="page">{{ common_settings.tender.val }}</li>
          </ol>
        </nav>
      </div>

      <div class="container-fluid d-flex text-center justify-content-center align-items-center" 
      style="
          background-image: url('{{ settings.all_banner_image.val.url }}');
          background-repeat: no-repeat;
          background-size: cover;
          height: 20em;
          background-position: center;
        ">
        <h2 class="text-white" style="line-height: 2em" >{{ settings.banner_text.val | safe }}</h2>
      </div>

      {% if tenders.count > 0 %}
        <div class="container-md pt-5 mb-5">
          <div class="d-flex justify-content-between">
            <h5 class="mt-2 mb-3">{{ common_settings.menampilkan.val }} {{ tenders.count }} {{ common_settings.tender.val }}</h5>
          </div>
          {% for tr in tenders %}
            <a href="{% url 'frontend:tender_detail' tr.slug %}" />
            <div class="p-3 border border-radius mb-3">
              <h6>{%if LG == 'id'%}{{ tr.id_title }}  {%else%} {{ tr.en_title }}  {%endif%}</h6>
              <div class="d-none d-md-flex">
                <div class="w-25">
                  <p class="m-0 p-0 fw-bold">{{ settings.pengumuman_text.val }}</p>
                  <p class="p-0 m-0">{{ tr.start_date }}</p>
                </div>
                <div class="w-25">
                  <p class="m-0 p-0 fw-bold">{{ settings.penutupan_text.val }}</p>
                  <p class="p-0 m-0">{{ tr.end_date }}</p>
                </div>
                <div class="w-50 d-flex align-items-end justify-content-end" >
                  <p style="text-align: right;" class="p-0 m-0">{{ tr.city }}, {{ tr.country }}</p>
                </div>
              </div>
              <div class="d-md-none">
                <div class="d-flex justify-content-between my-3">
                  <div >
                    <p class="m-0 p-0 fw-bold">{{ settings.pengumuman_text.val }}</p>
                    <p class="p-0 m-0">{{ tr.start_date }}</p>
                  </div>
                  <div>
                    <p class="m-0 p-0 fw-bold">{{ settings.penutupan_text.val }}</p>
                    <p class="p-0 m-0">{{ tr.end_date }}</p>
                  </div>
                </div>
                <div class=" d-flex align-items-end justify-content-end" >
                  <p style="text-align: right;" class="p-0 m-0">{{ tr.city }}, {{ tr.country }}</p>
                </div>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
      {% else %}
        <div class="container-fluid height-100 bg-light d-flex justify-content-center align-items-center flex-column">
          <img src="{% static 'images/empty.png' %}" class="empty-tender"  />
          <h4 class="my-text-gray capital text-center" style="line-height: 2em; mt-4">
            {{ settings.no_tender.val |safe }}
          </h4>
        </div>
      {% endif %}
    </main>
{% endblock content %}