{% extends 'frontend/base.html' %}
{% load humanize %}
{% load static %}
{% load i18n %}


{% block extra_header %} 
  
{% endblock %}

{% block content %}
{% get_current_language as LG %}
<main>
    <!-- BISNIS KAMI -->
    <div style="padding-top: 60px;">.</div>
    <!-- breadcrumb -->
    <div class="container-fluid bg-light py-3 px-5">
      <nav aria-label="breadcrumb bg-light">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item m-0"><a href="/">{{ common_settings.beranda.val }}</a></li>
          <li class="breadcrumb-item m-0"><a href="#">{{ common_settings.media_informasi.val }}</a></li>
          <li class="breadcrumb-item m-0 active">Tender</li>
        </ol>
      </nav>
    </div>
  <div class="container-fluid d-flex px-5 flex-column justify-content-center" 
  style="
      background-image: url('{{ settings.all_banner_image.val.url }}');
      background-repeat: no-repeat;
      background-size: cover;
      height: 25em;
      background-position: center;
    ">
    <h4 class="text-white">Teknisi</h4>
    <h2 class="text-white" style="line-height: 2em">
      {%if LG == 'id'%} {{ tender.id_title|safe }} {%else%} {{ tender.en_title|safe }} {%endif%}
    </h2>
    <p class="text-white">{{ tender.city }}, {{ tender.country }}</p>
  </div>

  <div class="container height-100">
    <div class="row py-5">
      <div class="col-md-8 pe-5">
        {%if LG == 'id'%} {{ tender.id_description |safe }} {%else%} {{ tender.en_description |safe }} {%endif%}
      </div>
      <div class="col-md-4 ps-5">
        {% comment %} <button class="btn btn-success mb-3 w-75">{{ settings.lamar_pekerjaan.val }}</button> {% endcomment %}
        {% comment %} <p class="mb-2">{{ settings.bagikan_pekerjaan.val }}</p>
        <div class="d-flex mb-5">
          <a class="me-1"href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
            <img src="{% static 'images/facebook.png' %}" class="img_share"/>
          </a>
          <a class="me-1" href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}" target="_blank">
          <img src="{% static 'images/twitter.png' %}" class="img_share"/>
          </a>
        </div> {% endcomment %}
        {% comment %} <h6 class="capital mb-3">{{ settings.pekerjaan_serupa.val }}</h6>
        {% for cr in careers %}
          <a href="{% url 'frontend:career_detail' cr.slug %}" />
            <div class="mb-2">
              <p class="mb-0 text-dark">
                {%if LG == 'id'%} {{ cr.id_title }} {%else%} {{ cr.en_title }} {%endif%}
              </p>
              <p>
                {%if LG == 'id'%} {{ cr.category.id_title }} {%else%} {{ cr.category.en_title }}  {%endif%}
                - {{ cr.get_type_display }} - {{ cr.city }} </p>
            </div>
          </a>
        {% endfor %} {% endcomment %}
      </div>
    </div>
    
  </div>
</main>
{% endblock content %}
