{% extends 'frontend/base.html' %} 
{% load humanize %} 
{% load static %} 
{% load i18n %}
{% block extra_header %} 
<link href="https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
{% endblock extra_header %}

{% block content %}
{% get_current_language as LG %}
<main>
  <!-- BISNIS KAMI -->
  <div style="padding-top: 60px;">.</div>
  <div class="container-fluid bg-light py-3 px-5">
    <nav aria-label="breadcrumb bg-light">
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item m-0"><a href="/">{{ common_settings.beranda.val }}</a></li>
        <li class="breadcrumb-item m-0"><a href="{% url 'frontend:tjsl' %}">{{ common_settings.media_informasi.val }}</a></li>
        <li class="breadcrumb-item m-0 active" aria-current="page">{{ common_settings.tjsl.val }}</li>
      </ol>
    </nav>
  </div>

  <div class="container pt-5 mb-5">
    <div class="mb-4 d-flex align-items-center">
      <h5 >
        {%if LG == 'id'%} {{ album.id_title }} {%else%} {{ album.en_title }} {%endif%}
      </h5>
      <h6 class="ms-3 my-text-gray">
        {% if album.total_photo %} {{album.total_photo}} FOTO {%endif%}
        {% if album.total_video %} - {{album.total_video}} VIDEO {%endif%}
      </h6>
    </div>

    <div id="my_nanogallery2" data-nanogallery2='{
      "thumbnailHeight": 200,
      "thumbnailWidth":  340,
      "thumbnailAlignment": "justified",
      "thumbnailGutterWidth": "32px",
      "thumbnailL1BorderHorizontal": 0,
      "thumbnailL1BorderVertical": 0,
      "thumbnailCrop": true
    }'>
      {% for ph in photos%}
      <a
        href="{{ph.img_or_video.url}}" 
        data-ngthumb="{{ph.alt_img.url}}" 
      >
       Title 1
      </a>
      {% endfor %}

    </div>
  </div>


</main>
{% endblock content %} 

{% block extra_js %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/jquery.nanogallery2.min.js"></script>

{% endblock extra_js %}
